@using WebV2.Entidades;
@model List<Cliente>

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Criar">Criar novo cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@cliente.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@cliente.Id">Detalhes</a> |
                    <a asp-action="Excluir" asp-route-id="@cliente.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>